apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-depl
spec:
  replicas: 2
  selector:
    matchLabels:
      app: client-pod
  template:
    metadata:
      name: client-pod
      labels:
        app: client-pod
    spec:
      containers:
      - name: client-container
        image: rhapsodyx021/clinic-app-client
---
apiVersion: v1
kind: Service
metadata:
  name: client-srv
spec:
  selector:
    app: client-pod
  ports:
  - name: client-pod
    protocol: TCP
    port: 3000
    targetPort: 3000
