apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-login-depl
spec:
  replicas: 2
  selector:
    matchLabels:
      app: server-login-pod
  template:
    metadata:
      name: server-login-pod
      labels:
        app: server-login-pod
    spec:
      containers:
      - name: server-login-container
        image: localhost:5000/clinic-app-server
---
apiVersion: v1
kind: Service
metadata:
  name: server-login-srv
spec:
  selector:
    app: server-login-pod
  ports:
  - name: server-login-pod
    protocol: TCP
    port: 4000
    targetPort: 4000